/* General Profile Page Styling */

header {
    background-color: #007bff;
    padding: 20px;
    color: white;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

/* nav{
    color: black;
} */

.profile-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-info p {
    font-size: 18px;
    color: #333;
    margin: 5px 0;
}

.profile-actions {
    margin-top: 30px;
}

.profile-actions form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-actions input[type="text"],
.profile-actions input[type="file"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.profile-actions button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-actions button:hover {
    background-color: #0056b3;
}
